

/* Container styles */
.aus_container {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: -15px;
}

/* Heading styles */
.aus_heading {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Search input styles */
.aus_schbr {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Table styles */
.aus_table-container {
  width: 800px;
  border-collapse: collapse;
  background-color: #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aus_table-header {
  background-color: #e0dfe0;
  color: #000000;
  padding: 16px;
  cursor: pointer;
  border-bottom: 2px solid #0056b3;
}

.aus_table-header:hover {
  background-color: #a8cffa;
}

.aus_table-row {
  transition: background-color 0.3s ease-in-out;

}

.aus_table-cell {
  padding: 12px;
  border-bottom: 1px solid #ffbcbc;
}

.pdfbtns {
  /* color: #fff; */
  font-size: 30px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 1px;
}