.e1_emergency-service-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow here */
  text-align: center;
}

.e1_h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.e1_form-group {
  margin-bottom: 15px;
  text-align: left;
}

.e1_label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  font-size: 16px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
}

.e1_submit-button {
  background-color: #0075f1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.e1_submit-button:hover {
  background-color: #0056b3;
}
